# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.wrangler
.codex
dist

# Node dependencies
node_modules

# Logs
logs
*.log
!server/api/logs

# Misc
.DS_Store
.fleet
.idea
desktop.ini

# Local env files
.env
.env.*
!.env.example

# Development temporary files
public/sample/
public/.well-known/
docs/
